---
import Image from "astro/components/Image.astro";
---

<h2 class={"main-title"}>Branding</h2>
<div class={"row"}>
  <Image
    width={700}
    height={700}
    src={"/project/moodboard.png"}
    alt={"Big logo design in white"}
    loading="lazy"
  />
  <div class={"uiFont"}>
    <h3>
      <strong>Colors</strong>
    </h3>
    <p>
      The color palette combines vibrant and earthy tones to create a balanced
      and modern visual identity:
    </p>
    <ul>
      <li>
        <strong>White (#F5FAF9):</strong> A neutral and clean tone that provides
        clarity and acts as an ideal background to highlight other colors.
      </li>
      <li>
        <strong>Black (#0D0708):</strong> Provides contrast and sophistication, used
        for text or key details.
      </li>
      <li>
        <strong>Bright Green (#5CE661):</strong> Refreshes and attracts attention,
        evoking nature and vitality.
      </li>
      <li>
        <strong>Cyan (#42F59B):</strong> An energetic shade that conveys freshness
        and creativity, ideal for design accents.
      </li>
      <li>
        <strong>Orange (#F36337):</strong> A vibrant color that brings energy and
        warmth, perfect for highlighting important elements.
      </li>
      <li>
        <strong>Dark Red (#E54543):</strong> Evokes passion and confidence, adding
        depth to the palette.
      </li>
      <li>
        <strong>Mandarin (#F9A03E):</strong> A mix between yellow and orange that
        inspires enthusiasm and joy.
      </li>
      <li>
        <strong>Dark Brown (#45362F):</strong> An earthy tone that anchors the design
        and reinforces a sense of connection with nature.
      </li>
      <li>
        <strong>Light Yellow (#FEDE71):</strong> Shines with optimism and works as
        a support color to convey positive energy.
      </li>
    </ul>
    <div class={"body"}>
      <h3>
        <strong>Typography</strong>
      </h3>
      <p>
        The selected fonts combine style and functionality, ensuring a youthful
        and professional visual experience:
      </p>
      <ul>
        <li>
          <strong>Anton SC (Regular):</strong>
          <ul>
            <li><strong>Use:</strong> Large and prominent titles.</li>
            <li>
              <strong>Characteristics:</strong> A bold, geometric, and modern typeface
              that brings strength and character. Ideal for capturing attention and
              highlighting headings.
            </li>
          </ul>
        </li>
        <li>
          <strong>Open Sans (Regular):</strong>
          <ul>
            <li>
              <strong>Use:</strong> Body text and subtitles.
            </li>
            <li>
              <strong>Characteristics:</strong> A clean and readable font, designed
              to ensure reading comfort on screens. Its versatility makes it perfect
              for main content.
            </li>
          </ul>
        </li>
      </ul>
      <p>
        <strong>Highlighted text styles:</strong>
        <ul>
          <li>
            <strong>Headings:</strong> Designed to be strong and bold, facilitating
            visual hierarchy and navigation.
          </li>
          <li>
            <strong>Body text:</strong> Designed to be clear, with well-spaced sizes
            to enhance the reading experience.
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
