<section>
  <h2 class={"main-title"}>Conclusion</h2>
  <p class="body">
    Kenowa successfully fills a gap in the online fashion community by providing
    a dedicated space for young and middle-aged women to share their passion for
    fashion. By focusing on sustainability and user engagement, we aim to build
    a thriving community that not only shares styles but also fosters meaningful
    discussions about the fashion industry's impact.
  </p>
</section>
