<section>
  <h2 class={"main-title"}>Description</h2>
  <strong class={"uiFont"}>
    An online platform connecting young and middle-aged women passionate about
    fashion, allowing them to share styles and opinions within the industry.
  </strong>
  <p class={"body"}>
    Have you ever tried searching for fashion tips or clothing articles, only to
    get lost in unrelated media? Kenowa aims to be a dedicated platform for
    environmentally conscious individuals who love or work in the fashion
    industry. Users can share their opinions, showcase their outfits, and create
    a digital wardrobe.
    <br /><br />
    <strong>Target Audience:</strong> Our primary target is young women aged 20 to
    28 residing in the United States. According to Statista, the women's and girls'
    apparel market in the U.S. is one of the largest globally, making it an ideal
    demographic for our platform.
    <br /><br />
    <link /> https://www.statista.com/forecasts/758666/revenue-of-the-women-s-and-girls-apparel-market-worldwide-by-country
  </p>
</section>
