<section>
  <h2 class={"main-title"}>Development Details</h2>
  <ul>
    <h3>
      <strong class={"uiFont"}>Choosen Stack</strong>
    </h3>
    <li class={"body"}>
      <strong>Frontend:</strong>
      Astro, TypeScript, CSS, HTML
    </li>
    <li class={"body"}>
      <strong>Backend:</strong>
      NodeJS, Express, TypeScript, SQL
    </li>
    <h3 class={"uiFont"}>
      <strong>Justification</strong>
    </h3>
    <p class="body">
      We chose Astro for the frontend due to its performance benefits and
      flexibility in building static websites, which is ideal for a content-rich
      platform. TypeScript enhances code reliability with type safety. For the
      backend, NodeJS with Express offers a robust and scalable solution, while
      SQL databases provide efficient data management for user content.
    </p>

    <h3 class={"uiFont"}>
      <strong>Complications</strong>
    </h3>
    <p class="body">
      One of the challenges we faced was ensuring the platform could handle a
      high volume of user-generated content while maintaining performance. We
      also needed to implement effective moderation tools to keep the community
      safe and welcoming.
    </p>
  </ul>
</section>
