<section>
  <h2 class={"main-title"}>Goals</h2>
  <p class={"body"}>
    <ul>
      <li class={"uiFont"}>
        <strong>Create a Community for Online Fashion Development:</strong> Foster
        a space where users can collaborate, share, and explore innovative ideas
        in fashion, enabling the growth of online fashion trends and practices.
      </li>
      <li class={"uiFont"}>
        <strong>Encourage Honest Feedback:</strong> Promote an environment where
        users can provide genuine opinions on current fashion trends and products,
        helping others make informed decisions.
      </li>
      <li class={"uiFont"}>
        <strong>Prioritize Transparency:</strong> Build trust by ensuring open communication
        about fashion practices, brand ethics, and product reviews, empowering users
        with reliable information.
      </li>
      <li class={"uiFont"}>
        <strong>Support Sustainable Fashion:</strong> Advocate for eco-conscious
        choices by highlighting brands, materials, and practices that prioritize
        sustainability and ethical production.
      </li>
      <li class={"uiFont"}>
        <strong>Inspire Creativity and Self-Expression:</strong> Provide tools and
        features that allow users to showcase their unique styles, inspiring others
        and celebrating individuality.
      </li>
      <li class={"uiFont"}>
        <strong>Promote Networking Opportunities:</strong> Connect fashion enthusiasts,
        professionals, and influencers to facilitate collaboration and knowledge
        exchange within the industry.
      </li>
      <li class={"uiFont"}>
        <strong>Educate About Fashion Trends:</strong> Offer curated content and
        expert insights to help users stay updated on global fashion movements and
        innovations.
      </li>
    </ul>
  </p>
</section>
