<div class="row">
  <section>
    <h2 class={"main-title"}>Justifications</h2>
    <ul>
      <li class={"body"}>
        <h3>
          <strong>Personal</strong>
        </h3>
        To provide a creative outlet for individuals passionate about fashion, enabling
        them to express their style and connect with like-minded people.
      </li>
      <li class={"body"}>
        <h3>
          <strong>Social</strong>
        </h3>
        To build a community where young and middle-aged women can share fashion
        tips, support sustainable practices, and foster meaningful discussions about
        the industry.
      </li>
      <li class={"body"}>
        <h3>
          <strong>Business</strong>
        </h3>
        To tap into the growing online fashion market by offering a platform with
        potential for monetization through advertising and partnerships targeting
        young women in the U.S.
      </li>
    </ul>
  </section>
</div>
