.container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0.5625rem 7rem;
  border-radius: var(--Corner-Extra-small, 0.25rem);
  background: var(--text);
}
.withoutBackground {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--transparent);
  border: var(--transparent) solid;
}
.anchor {
  display: flex;
  align-self: stretch;
  justify-content: center;
  padding: 0.5625rem 7rem;
  border-radius: var(--Corner-Extra-small, 0.25rem);
  background: var(--transparent, rgba(250, 250, 250, 0));
}
.title {
  color: var(--SECONDARY, #fede71);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.icon {
  display: flex;
  align-items: center;
}
