.container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0.5625rem 7rem;
  border-radius: var(--Corner-Extra-small, 0.25rem);
  background: var(--orange);
}
.withoutBackground {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--transparent);
  border: var(--transparent) solid;
}
.title {
  color: var(--white,);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.icon {
  display: flex;
  align-items: center;
}
