.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;

  padding: 10dvh 5dvw;
  gap: 24dvh;
}
@media (min-width: 500px) and (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10dvh 5dvw;
    gap: 24dvh;
  }
}
