@media (min-width: 500px) and (max-width: 991px) {
  .customInput {
    display: flex;
    flex-direction: column;
    width: 100%;

    color: var(--PRIMARY, #f36337);
    text-align: start;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  .customInputFile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }
  .input {
    height: 2.5rem;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--Disabled, #b3b3b3);
    padding: 0.5625rem 0.625rem;
  }

  .title {
    color: var(--PRIMARY, #f36337);
    text-align: start;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
}

@media (min-width: 992px) {
  .customInput {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .customInputFile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;

    color: var(--PRIMARY, #f36337);
    text-align: start;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  .title {
    color: var(--PRIMARY, #f36337);
    text-align: start;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  .input {
    display: flex;
    height: 2.5rem;
    padding: 0.5625rem 0.625rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--Disabled, #b3b3b3);
    width: 100%;
  }
  .inputFile {
    display: flex;
    height: 2.5rem;
  }
}
