@import url("https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight";

@tailwind utilities;

* {
  box-sizing: border-box;
}

@theme {
  --color-gray-light: oklch(21.61% 0.0061 56.04);
  --color-gray-default: oklch(84.52% 0 0);
  --color-gray-dark: oklch(98.48% 0.0013 106.42);
  --color-orange-light: oklch(73.02% 0.1809 48.69);
  --color-orange-default: oklch(73.02% 0.1809 48.69);
  --color-orange-dark: oklch(73.02% 0.1809 48.69);

  --container-gridrow: "auto, 1fr, auto";
}

/* BASIC */
@utility regular-text {
  @apply text-gray-light dark:text-gray-dark;
}
@utility regular-bg {
  @apply bg-gray-dark dark:bg-gray-light;
}
@utility main-title {
  @apply text-orange-500 text-center capitalize text-lg;
}
@utility post-border {
  @apply border-2 border-amber-50/10 bg-stone-600/5;
}
/*CARD CONTAINER BASE */
@utility card-shadow {
  @apply shadow-2xl dark:shadow-amber-500/50;
}
@utility card-container-base {
  @apply flex flex-col p-12 rounded gap-1 text-center;
}
@utility non-focusable-icon {
  @apply pointer-events-none;
  @apply fill-[gray-light] dark:fill-[gray-dark];
}
/* HEADER */
@utility header-background {
  @apply shadow-md bg-orange-600 dark:bg-stone-800;
}
@utility post-base {
  @apply post-border rounded shadow-2xl cursor-pointer;
}
@utility input-base {
  @apply w-full px-4 py-2 border border-stone-200 rounded bg-stone-50;
  @apply regular-text;
  @apply dark:bg-stone-800 dark:border-stone-600;
}
@utility icon-base {
  @apply h-20 fill-gray-light dark:fill-gray-dark;
}
html {
  @apply font-sans regular-text regular-bg;
}
body {
  @apply grid h-full;
}
main {
  @apply regular-bg grid h-full grid-rows-[gridrow] gap-12 p-12  max-w-[100dvw];
}
h1 {
  @apply text-5xl font-extrabold text-stone-700 dark:text-stone-50;
}
p {
  @apply regular-text;
}

.footer {
  @apply pb-16 text-sm leading-6 items-center;
}
.footer-image {
  @apply flex flex-col w-96 sm:flex-row sm:justify-between items-center p-6 px-16;
}

.footer-svg-filled {
  @apply fill-amber-300;
}
.footer-svg-border {
  @apply fill-orange-600;
}

.white-icon {
  @apply fill-gray-dark;
}

.primary-button {
  @apply capitalize text-sm bg-stone-400  text-white font-semibold p-3 rounded max-w-fit;
  @apply focus:bg-orange-700;
  @apply hover:bg-orange-600;
  @apply active:bg-orange-700;
  @apply dark:bg-stone-600;
}
.input-label {
  @apply flex flex-col w-full capitalize main-title text-start text-sm;
}

/*INDEX PAGE */
.main-container {
  @apply flex flex-col items-center justify-between gap-12 max-w-5xl mx-auto;
}
.first-section {
  @apply text-center max-w-5xl mx-auto;
}
.index-card-group {
  @apply flex flex-col items-center justify-between gap-12 max-w-2xl my-6;
}
.development-information {
  @apply flex flex-col w-full items-center gap-12 sm:max-w-5xl;
}
.detail-text {
  @apply text-orange-500 text-xs;
}
.stack-figure {
  @apply flex flex-row justify-between w-full;
}
.iframe  {
  @apply h-96 rounded-3xl;
}
.dev-information {
  @apply flex flex-col gap-6 w-full md:flex-row justify-between;
}

/*LOGIN PAGE */
.login__main {
  @apply flex flex-col w-dvw;
}
.login__wrapper {
  @apply flex flex-col py-12 gap-40 self-center;
}
.login__lower-section {
  @apply flex-col flex gap-6 items-center;
}
.login__welcome_title {
  @apply text-3xl text-center;
}
.login__sign-in-button {
  @apply flex max-w-sm p-6 rounded shadow-lg items-center justify-center gap-5 bg-orange-500;
  @apply hover:bg-orange-600 active:bg-orange-700;
}
.login__sign-in-button__text {
  @apply regular-text capitalize text-white capitalize text-xs;
}
.login__sign-in-button__wrapper {
  @apply flex justify-center gap-12;
}

/*PROFILE PAGE */

.header {
  @apply flex flex-col gap-4 sticky top-0 items-center p-6 px-16 h-fit z-40;
  @apply header-background;
  @apply md:flex-row justify-between;
}
.header__nav-link {
  @apply flex w-fit justify-center items-center gap-1;
  @apply text-white text-center font-normal capitalize text-xs;
  @apply dark:text-white hover:text-orange-200;
}
.session-nav {
  @apply flex gap-4;
}
.header-text {
  @apply text-white text-center font-normal capitalize text-xs;
}
.create-post-button {
  @apply flex w-fit justify-center items-center gap-1;
}
.profile-image {
  @apply rounded shadow-lg drop-shadow-md;
}
.create-post-dialog-header {
  @apply flex flex-row justify-between w-full;
}
.subtitle {
  @apply mt-4 text-3xl text-start sm:text-4xl font-extrabold tracking-tight text-stone-900 dark:text-stone-50;
}

/* CARD */
.link-container {
  @apply card-container-base post-border card-shadow;
  @apply cursor-pointer;
}
.link-title {
  @apply capitalize text-orange-600 text-2xl font-bold;
}
.link-subtitle {
  @apply my-4 regular-text text-xl font-thin capitalize opacity-50;
}
.card-container {
  @apply card-container-base  post-border card-shadow;
  @apply cursor-default;
}

/*POST */

.post-container {
  @apply flex flex-col text-start p-12 gap-1 post-base min-w-96 w-full;
}
.post-container__header {
  @apply flex flex-row w-full justify-between;
}
.post-subtitle {
  @apply mt-8  w-fit font-semibold text-orange-500 dark:text-orange-400;
}
.post-text {
  @apply w-full h-fit my-4 text-stone-600 dark:text-stone-50;
}
.post-timestamp {
  @apply text-xs font-light text-stone-800/50  mt-6 dark:text-stone-200/50;
}
.post-dialog {
  @apply open:flex flex-col items-start backdrop-blur-lg rounded p-8 gap-12 h-full w-full dark:bg-stone-300/15;
}
.post-dialog__header {
  @apply flex flex-row justify-between w-full;
}
.post-dialog__text-container {
  @apply flex flex-col w-full bg-transparent rounded h-fit p-12 gap-12;
  @apply dark:flex flex-col w-full bg-stone-500/50;
  @apply rounded h-fit p-12 gap-12;
}
.post-dialog__text {
  @apply my-4 min-w-full text-start text-stone-600 dark:text-stone-50;
}

/* CARD GROUP BASE */
.scroll-group {
  @apply flex flex-row max-w-6xl overflow-x-scroll h-full p-4 gap-10;
}
.grid-group {
  @apply grid grid-cols-1 sm:grid-cols-2 p-4 gap-10 md:grid-cols-3;
}
.one-column-group {
  @apply grid grid-cols-1 p-4 gap-10;
}

/*CREATE POST FORM */
.form-container {
  @apply flex flex-col items-center gap-12 w-full;
}
.inputs-wrapper {
  @apply flex flex-col gap-6 w-full;
}
.text-input__container {
  @apply text-gray-900 text-sm;
  @apply focus:ring-orange-500 focus:border-orange-500;
  @apply block w-full p-2.5;
  @apply input-base;
  @apply dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500;
}
.post-editor__container {
  @apply w-full mb-4 border border-stone-200 rounded-lg bg-stone-50 dark:bg-stone-700 dark:border-stone-600;
}
.post-editor__header {
  @apply flex items-center space-x-1 rtl:space-x-reverse sm:pe-4 flex items-center justify-between px-3 py-2 border-b border-stone-200 dark:border-stone-600 border-stone-200;
}
.post-editor__header-button {
  @apply capitalize regular-text p-3 rounded max-w-fit p-2 rounded-sm cursor-pointer;
  @apply hover:text-stone-900 hover:bg-stone-100;
  @apply focus:bg-stone-100;
  @apply active:text-stone-900 active:bg-stone-100;
  @apply dark:text-stone-400;
  @apply dark:hover:text-white dark:hover:bg-stone-600;
  @apply dark:active:text-white dark:active:bg-stone-600;
}
.post-editor__textarea {
  @apply block w-full px-0 text-sm text-stone-800 bg-white border-0 dark:bg-stone-800 focus:ring-0 dark:text-white dark:placeholder-stone-400;
}
