@media (min-width: 500px) and (max-width: 991px) {
  .lowerSection {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .lowerSection {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
    width: 100%;
  }
}
