@media (min-width: 500px) and (max-width: 991px) {
  .lowerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.1rem;
    width: 100%;
    padding: 0 5dvw;
  }
}

@media (min-width: 992px) {
  .lowerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.1rem;
    padding: 0 5dvw;
  }
}
