---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import MyPosts, { PostType } from "@/components/MyPosts.astro";
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/");
}
export const prerender = false;
---

<Layout title="Chat">
  <Header />
  <main>
    <MyPosts
      type={PostType.ALL}
      ID="chat-posts"
      user_id={session?.user?.id ?? ""}
    />
  </main>
  <Footer />
</Layout>
