---
import Layout from "../layouts/Layout.astro";
import Header, { HeaderTypeEnum } from "../components/Header.astro";
import ProductCard from "../components/ProductCard.astro";
---

<Layout title="global-chat">
  <main>
    <Header headerType={HeaderTypeEnum.USER} />
    <div id="content">
      <div id="product-column">
        <ProductCard
          src="/public/stock-image-aiony-haust.svg"
          title="Bolso Faux Leather"
          subtitle="30€"
        />
        <ProductCard
          src="/public/stock-image-aiony-haust.svg"
          title="Bolso Faux Leather"
          subtitle="30€"
        />
        <ProductCard
          src="/public/stock-image-aiony-haust.svg"
          title="Bolso Faux Leather"
          subtitle="30€"
        />
        <ProductCard
          src="/public/stock-image-aiony-haust.svg"
          title="Bolso Faux Leather"
          subtitle="30€"
        />
      </div>
      <div id="messages-container">
        <ProductCard
          src="/public/stock-image-aiony-haust.svg"
          title="Bolso Faux Leather"
          subtitle="Lorem ipsum dolor sit amet consectetur. At nunc massa sed eleifend. Facilisis dolor sem amet purus sagittis odio. Adipiscing tempus nibh enim est arcu diam."
          horizontal
        />
        <ProductCard
          src="/public/stock-image-aiony-haust.svg"
          title="Bolso Faux Leather"
          subtitle="Lorem ipsum dolor sit amet consectetur. At nunc massa sed eleifend. Facilisis dolor sem amet purus sagittis odio. Adipiscing tempus nibh enim est arcu diam."
          horizontal
        />
      </div>
      <div id="product-column">
        <button>
          <p id="button-text">Create new message</p>
        </button>
        <div id="trending">
          <h5>Trending Theme</h5>
          <p>Trending time</p>
        </div>
        <div id="trending">
          <h5>Trending Theme</h5>
          <p>Trending time</p>
        </div>
        <div id="trending">
          <h5>Trending Theme</h5>
          <p>Trending time</p>
        </div>
      </div>
    </div>
  </main>
  <style>
    #content {
      display: flex;
      padding: 3.125rem 1.875rem;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
    }
    #product-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.625rem;
    }
    #messages-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4.625rem;
      flex: 1 0 0;
      align-self: stretch;
    }
    button {
      display: flex;
      padding: 0.5625rem 7rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      align-self: stretch;

      border-radius: var(--Corner-Extra-small, 0.25rem);
      background: var(--TEXT, #45362f);
    }
    #button-text {
      color: var(--SECONDARY, #fede71);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    #trending {
      display: flex;
      padding: 0.3125rem;
      justify-content: flex-end;
      align-items: center;
      justify-content: space-between;
      gap: 0.0625rem;
      align-self: stretch;
    }
    #trending h5 {
      align-self: stretch;

      color: var(--TEXT, #45362f);

      /* BODY_BIG_REGULAR */
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    #trending p {
      color: var(--PRIMARY, #f36337);
      text-align: center;

      /* BODY_SMALL_BOLD */
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  </style>
</Layout>
