---
import Layout from "../layouts/Layout.astro";
import { ClickActions, ModalChildrens } from "@/constants/enums";
import Modal from "@/components/Modal/index";
import Button from "@/components/Button";
import Footer from "@/components/Footer/Footer.astro";
import CardGroupRenderer from "@/components/CardGroupRenderer";
import Header from "@/components/Header";
---

<Layout title="global-chat">
  <main id="container">
    <Header client:only="react" />
    <div id="content">
      <Button
        title="Create new message"
        clickAction={ClickActions.OPEN_MODULE}
        client:load
      />
      <Modal type={ModalChildrens.NEW_MESSAGE} client:visible />
      <CardGroupRenderer client:only="react" />
    </div>
    <Footer />
    <style>
      main {
        display: grid;
        min-height: 100dvh;
        grid-template-rows: auto 1fr auto;
      }
      @media (min-width: 500px) and (max-width: 740px) /*/mobile size*/ {
        #content {
          display: flex;
          flex-direction: column;
        }
      }
      @media (min-width: 741px) {
      }
      @media (min-width: 992px) {
        #content {
          display: flex;
          flex-direction: column;
        }
      }
    </style>
  </main>
</Layout>
