---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/ProductCard.astro";
import {
  ClickActions,
  HeaderTypeEnum,
  ModalChildrens,
} from "@/constants/enums";
import Modal from "@/components/Modal/index";
import Button from "@/components/CustomButton";
import Footer from "@/components/Footer/Footer.astro";
---

<Layout title="global-chat">
  <main id="container">
    <Header headerType={HeaderTypeEnum.USER} />
    <div id="content">
      <Button
        title="Create new message"
        clickAction={ClickActions.OPEN_MODULE}
        client:load
      />
      <Modal type={ModalChildrens.NEW_MESSAGE} client:visible />
      <div id="messages-container">
        <Card
          src="/public/stock-image-aiony-haust.svg"
          title="Bolso Faux Leather"
          subtitle="Lorem ipsum dolor sit amet consectetur. At nunc massa sed eleifend. Facilisis dolor sem amet purus sagittis odio. Adipiscing tempus nibh enim est arcu diam."
          horizontal
        />
        <Card
          src="/public/stock-image-aiony-haust.svg"
          title="Bolso Faux Leather"
          subtitle="Lorem ipsum dolor sit amet consectetur. At nunc massa sed eleifend. Facilisis dolor sem amet purus sagittis odio. Adipiscing tempus nibh enim est arcu diam."
          horizontal
        />
      </div>
    </div>
    <Footer />
    <style>
      @media (min-width: 500px) and (max-width: 740px) /*/mobile size*/ {
        #content {
          display: flex;
          flex-direction: column;
        }
        #messages-container {
          display: grid;
          grid-template-columns: 1fr;
          gap: 4.625rem;
        }
      }
      @media (min-width: 741px) {
      }
      @media (min-width: 992px) {
        #content {
          display: flex;
          flex-direction: column;
        }
        #messages-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 4.625rem;
        }
      }
    </style>
  </main>
</Layout>
