---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LandingImages from "../components/LandingImages.astro";
import Footer from "@/components/Footer/Footer.astro";
import Image from "astro/components/Image.astro";
import { HeaderTypeEnum } from "@/constants/enums";
import ParagraphGroup from "@/components/ParagraphGroup.astro";
import {
  landingCopies,
  landingImages,
  welcomeMessage,
} from "@/constants/constants";
---

<Layout title="Kenowa">
  <main>
    <Header headerType={HeaderTypeEnum.PASSENGER} />
    <div id="welcome-message">
      <Image
        src="/landing-top-image.svg"
        alt="landing-top"
        id="landing-top-image"
        loading={"eager"}
        width={697}
        height={464}
      />
      <div id="copy">
        <p class="instructions">{welcomeMessage}</p>
        <a href="/globalChat">Start Sharing</a>
      </div>
    </div>

    <LandingImages images={landingImages} />
    <ParagraphGroup content={landingCopies} />

    <Footer />
  </main>

  <style>
    @media (min-width: 500px) and (max-width: 740px) /*/mobile size*/ {
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 4.625rem;
      }
      #welcome-message {
        flex-direction: column;
      }
      #landing-top-image {
        width: 80vw;
      }
      #copy {
        max-width: 100%;
      }
    }

    @media (min-width: 741px) {
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 4.625rem;
      }
      #landing-top-image {
        width: 100vw;
      }
      #copy {
        max-width: 100%;
      }
    }
    @media (min-width: 992px) {
      main {
        display: flex;
        flex-direction: column;
        color: var(-text-light);
        overflow: hidden;
        align-items: center;
        gap: 4.625rem;
      }
      #welcome-message {
        display: flex;
        padding: 0rem 3.125rem;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
      }
      #copy {
        max-width: 50%;
      }
      .instructions {
        color: var(--TEXT, #45362f);
        text-align: right;
        /* BODY_BIG_REGULAR */
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      #landing-top-image {
        width: 697px;
      }
    }
  </style>
</Layout>
