---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import { IndexLogo } from "@/components/Icons";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const prerender = false;

const copy = [
  {
    title: t("p.copy.title.2"),
    subtitle: t("p.copy.subtitle.2"),
    description: t("p.copy.description.2"),
  },
  {
    title: t("p.copy.title.1"),
    subtitle: t("p.copy.subtitle.1"),
    description: t("p.copy.description.1"),
  },
  {
    title: t("p.copy.title.3"),
    subtitle: t("p.copy.subtitle.3"),
    description: t("p.copy.description.3"),
  },
];
---

<Layout title="Kenowa">
  <Header />
  <main>
    <figure
      class="flex flex-col sm:flex-row sm:justify-between items-center p-6 px-16"
    >
      <IndexLogo />
      <figcaption class="body text-center p-5 w-96">
        {t("copy.welcomeMessage")}
      </figcaption>
    </figure>

    <div
      class="flex flex-col sm:flex-row items-center justify-between gap-5 w-full px-16 py-10 bg-orange-500/20 dark:bg-orange-500/80"
    >
      {
        copy.map(({ title, description, subtitle }) => (
          <section class="flex flex-col w-full sm:w-72 gap-1 text-center">
            <h2 class="main-title text-xl dark:text-white">{title}</h2>
            <h3 class="text-md text-black/70 capitalize dark:text-white/70">
              {subtitle}
            </h3>
            <p class="body my-4">{description}</p>
          </section>
        ))
      }
    </div>
  </main>
  <Footer />
</Layout>
