---
import Loader from "@/components/Loader.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { SignIn } from "auth-astro/components";
import { getSession } from "auth-astro/server";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const session = await getSession(Astro.request);

if (session) {
  return Astro.redirect("/feed");
}

/*CASTLE ICON */
const castleIconSVGProps = {
  class: "h-20",
  viewBox: "0 0 209 312",
  fill: "none",
};

const castleIconPathBasicProps = { class: "non-focusable-icon" };
const castleIconPathLowerLeft = {
  ...castleIconPathBasicProps,
  d: "M19.2069 246.295C19.2977 247.048 19.9371 247.615 20.6961 247.615H60.1224C61.0689 247.615 61.7991 246.761 61.606 245.815C60.7904 241.819 58.2821 228.532 58.2766 216.257C58.2738 210.112 58.8992 204.277 60.6415 199.995C61.5108 197.859 62.6472 196.137 64.0959 194.951C65.5362 193.772 67.3105 193.102 69.5064 193.102C71.703 193.102 73.4833 193.773 74.9333 194.953C76.3917 196.141 77.5407 197.864 78.4253 200.002C80.1982 204.286 80.8643 210.125 80.9045 216.272C80.9847 228.551 78.5691 241.841 77.7836 245.826C77.5976 246.769 78.3275 247.615 79.2693 247.615H118.028C118.786 247.615 119.425 247.05 119.517 246.298L137.872 96.4388C137.981 95.5447 137.284 94.7564 136.383 94.7564H104.958C104.058 94.7564 103.336 95.5306 103.465 96.4493C104.269 102.207 107.858 129.129 108.391 154.557C108.657 167.278 108.158 179.588 106.178 188.681C105.187 193.232 103.834 196.932 102.054 199.472C100.285 201.997 98.1242 203.339 95.477 203.297C92.8248 203.254 90.6355 201.841 88.8239 199.257C87.0037 196.66 85.5971 192.921 84.5411 188.349C82.4305 179.211 81.7561 166.911 81.8419 154.228C82.0135 128.874 85.2204 102.132 85.9408 96.4287C86.0562 95.5156 85.3365 94.7564 84.4454 94.7564H54.9575C54.0638 94.7564 53.3453 95.5207 53.4625 96.4337C54.1941 102.135 57.4371 128.777 57.5631 154.033C57.6262 166.666 56.9086 178.916 54.7219 188.016C53.6278 192.569 52.1754 196.292 50.3001 198.877C48.4343 201.45 46.1774 202.865 43.4392 202.907C40.7059 202.95 38.4807 201.606 36.6621 199.094C34.8317 196.565 33.4398 192.881 32.4189 188.351C30.3785 179.297 29.8577 167.038 30.1239 154.368C30.6561 129.04 34.3285 102.218 35.155 96.4574C35.2868 95.5384 34.5666 94.7564 33.6629 94.7564H2.62781C1.72819 94.7564 1.03091 95.5428 1.1386 96.436L19.2069 246.295Z",
};
const castleIconPathLowerRight = {
  ...castleIconPathBasicProps,
  d: "M189.439 246.298C189.347 247.05 188.708 247.615 187.95 247.615H147.72C146.771 247.615 146.041 246.755 146.238 245.808C147.07 241.806 149.626 228.521 149.631 216.25C149.633 210.107 148.995 204.274 147.219 199.996C146.333 197.861 145.175 196.14 143.698 194.954C142.228 193.774 140.416 193.102 138.173 193.102C135.93 193.102 134.112 193.774 132.632 194.956C131.144 196.143 129.973 197.866 129.072 200.003C127.265 204.284 126.585 210.12 126.544 216.265C126.461 228.541 128.923 241.828 129.724 245.819C129.914 246.764 129.184 247.615 128.24 247.615H88.6903C87.9337 247.615 87.2956 247.052 87.2018 246.301L68.4904 96.4423C68.3786 95.547 69.0766 94.7564 69.9788 94.7564H102.053C102.955 94.7564 103.676 95.5347 103.545 96.4541C102.724 102.22 99.0666 129.14 98.5239 154.565C98.2524 167.284 98.7617 179.591 100.78 188.682C101.791 193.231 103.169 196.93 104.984 199.469C106.787 201.992 108.992 203.339 111.699 203.297C114.41 203.254 116.645 201.836 118.491 199.254C120.346 196.658 121.779 192.92 122.856 188.349C125.007 179.213 125.695 166.916 125.608 154.235C125.433 128.884 122.165 102.144 121.43 96.4331C121.312 95.5192 122.032 94.7564 122.925 94.7564H153.024C153.919 94.7564 154.638 95.5245 154.518 96.4382C153.772 102.146 150.466 128.788 150.339 154.04C150.275 166.672 151.006 178.919 153.235 188.017C154.351 192.568 155.831 196.29 157.742 198.874C159.644 201.446 161.947 202.865 164.746 202.907C167.541 202.95 169.812 201.602 171.665 199.091C173.531 196.562 174.949 192.88 175.99 188.352C178.07 179.3 178.601 167.045 178.33 154.376C177.788 129.051 174.046 102.231 173.202 96.4624C173.067 95.5426 173.787 94.7564 174.693 94.7564H206.37C207.271 94.7564 207.968 95.5451 207.858 96.4394L189.439 246.298Z",
};
const castleIconPathUpperLeft = {
  ...castleIconPathBasicProps,
  d: "M74.8096 2.31255C74.7152 1.56253 74.0773 1.00001 73.3214 1.00001H49.7838C48.8328 1.00001 48.1064 1.86258 48.2965 2.80647C48.8949 5.77751 50.3335 13.7118 50.2481 20.8893C50.2053 24.4851 49.7797 27.8342 48.7129 30.2672C48.1817 31.4786 47.5021 32.4383 46.655 33.0941C45.8151 33.7443 44.7848 34.1162 43.5064 34.1162C42.2274 34.1162 41.1933 33.744 40.3475 33.0925C39.4945 32.4354 38.8074 31.4742 38.2674 30.2615C37.1827 27.8262 36.7335 24.4744 36.6653 20.8771C36.5292 13.6961 37.9119 5.76005 38.4877 2.79594C38.6705 1.85474 37.945 1.00001 36.9984 1.00001H13.8721C13.1154 1.00001 12.4771 1.56368 12.3836 2.31463L1.14376 92.5669C1.0323 93.462 1.73029 94.2523 2.63227 94.2523H21.1634C22.0513 94.2523 22.7906 93.5069 22.6603 92.575C22.0561 88.253 19.919 72.0161 19.6635 56.8949C19.5356 49.3282 19.88 42.0786 21.1077 36.7484C21.7223 34.0802 22.5487 31.9372 23.6145 30.4785C24.6685 29.0359 25.9304 28.2914 27.4619 28.3155C28.9977 28.3397 30.2797 29.1266 31.3609 30.6075C32.4516 32.1014 33.3101 34.2696 33.9635 36.9516C35.269 42.3104 35.7182 49.5557 35.6996 57.1011C35.6626 72.1801 33.7597 88.3109 33.2191 92.5945C33.1023 93.5196 33.8377 94.2523 34.7181 94.2523H52.0526C52.9345 94.2523 53.6703 93.5172 53.5516 92.5911C53.0031 88.3126 51.08 72.2423 51.0724 57.2228C51.0686 49.7071 51.5449 42.4921 52.8969 37.1566C53.5735 34.4866 54.4596 32.3282 55.5831 30.8407C56.6965 29.3667 58.02 28.5764 59.6105 28.552C61.2015 28.5276 62.5065 29.2802 63.5917 30.7243C64.6893 32.185 65.5397 34.33 66.1719 36.9999C67.4348 42.3342 67.7875 49.5871 67.6545 57.1499C67.3889 72.263 65.189 88.4586 64.5859 92.6464C64.4579 93.5355 65.1267 94.2677 65.9745 94.3282L84.7616 95.6684C85.7052 95.7357 86.4748 94.9234 86.3566 93.9848L74.8096 2.31255Z",
};

const castleIconPathUpperRight = {
  ...castleIconPathBasicProps,
  d: "M134.19 2.31255C134.285 1.56253 134.923 1.00001 135.679 1.00001H159.216C160.167 1.00001 160.894 1.86258 160.703 2.80647C160.105 5.77751 158.667 13.7118 158.752 20.8893C158.795 24.4851 159.22 27.8342 160.287 30.2672C160.818 31.4786 161.498 32.4383 162.345 33.0941C163.185 33.7443 164.215 34.1162 165.494 34.1162C166.773 34.1162 167.807 33.744 168.653 33.0925C169.505 32.4354 170.193 31.4742 170.733 30.2615C171.817 27.8262 172.267 24.4744 172.335 20.8771C172.471 13.6961 171.088 5.76005 170.512 2.79594C170.33 1.85474 171.055 1.00001 172.002 1.00001H195.128C195.885 1.00001 196.523 1.56368 196.616 2.31463L207.856 92.5669C207.968 93.462 207.27 94.2523 206.368 94.2523H187.837C186.949 94.2523 186.209 93.5069 186.34 92.575C186.944 88.253 189.081 72.0161 189.336 56.8949C189.464 49.3282 189.12 42.0786 187.892 36.7484C187.278 34.0802 186.451 31.9372 185.386 30.4785C184.332 29.0359 183.07 28.2914 181.538 28.3155C180.002 28.3397 178.72 29.1266 177.639 30.6075C176.548 32.1014 175.69 34.2696 175.037 36.9516C173.731 42.3104 173.282 49.5557 173.3 57.1011C173.337 72.1801 175.24 88.3109 175.781 92.5945C175.898 93.5196 175.162 94.2523 174.282 94.2523H156.947C156.066 94.2523 155.33 93.5172 155.448 92.5911C155.997 88.3126 157.92 72.2423 157.928 57.2228C157.931 49.7071 157.455 42.4921 156.103 37.1566C155.427 34.4866 154.54 32.3282 153.417 30.8407C152.304 29.3667 150.98 28.5764 149.39 28.552C147.799 28.5276 146.493 29.2802 145.408 30.7243C144.311 32.185 143.46 34.33 142.828 36.9999C141.565 42.3342 141.213 49.5871 141.345 57.1499C141.611 72.263 143.811 88.4586 144.414 92.6464C144.542 93.5355 143.873 94.2677 143.025 94.3282L124.238 95.6684C123.295 95.7357 122.525 94.9234 122.643 93.9848L134.19 2.31255Z",
};

/*GOOGLE ICON */
const googleIconSize = 16;
const googleIconSVGProps = {
  width: googleIconSize,
  height: googleIconSize,
  viewBox: "0 0 16 16",
  fill: "none",
};

/* BUTTON LOADER */
const isLoading = false;
---

<script>
  import { getLangFromUrl, useTranslations } from "@/i18n/utils";

  const lang = getLangFromUrl(Astro.url);
  const t = useTranslations(lang);
  const loginButton = document.getElementById("login-button");

  if (!loginButton) {
    throw new Error("Login button not found");
  }
  loginButton.addEventListener("click", () => {
    const insertLoaderInButton = loginButton.insertAdjacentHTML(
      "beforeend",
      `<div role="status" class="flex flex-col gap-2 items-center">
          <svg
            aria-hidden="true"
            class="w-8 h-8 text-gray-200 animate-spin dark:text-stone-900 fill-stone-200"
            viewBox="0 0 100 101"
            fill="none"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"></path>
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"></path>
          </svg>
          <p class="login__sign-in-button__text">
            ${t("buttons.loading")}
          </p>
        </div>
        `
    );
    return insertLoaderInButton;
  });
</script>
<Layout title="Log In - Kenowa">
  <main class="login__main">
    <section class="login__wrapper">
      <svg {...castleIconSVGProps}>
        <path {...castleIconPathUpperLeft}></path>
        <path {...castleIconPathUpperRight}></path>
        <path {...castleIconPathLowerLeft}></path>
        <path {...castleIconPathLowerRight}></path>
      </svg>

      <div class="login__lower-section">
        <h1 class="login__welcome_title">
          {t("logIn.copy.big")}
        </h1>
        <SignIn
          provider="google"
          class="login__sign-in-button"
          id={"login-button"}
        >
          {
            isLoading ? (
              <Loader />
            ) : (
              <div class="login__sign-in-button__wrapper">
                <svg {...googleIconSVGProps}>
                  <path
                    d="M5.57338 0.52637C3.97473 1.08096 2.59606 2.13358 1.63987 3.52962C0.683675 4.92567 0.200366 6.59155 0.26093 8.28258C0.321493 9.9736 0.922737 11.6006 1.97635 12.9247C3.02996 14.2488 4.4804 15.2001 6.11463 15.6389C7.43953 15.9807 8.82764 15.9958 10.1596 15.6826C11.3663 15.4116 12.4819 14.8318 13.3971 14.0001C14.3497 13.1081 15.0412 11.9732 15.3971 10.7176C15.784 9.35221 15.8529 7.91629 15.5984 6.52012H8.15838V9.60637H12.4671C12.381 10.0986 12.1965 10.5684 11.9246 10.9877C11.6527 11.4069 11.2989 11.767 10.8846 12.0464C10.3585 12.3944 9.76537 12.6286 9.14338 12.7339C8.51956 12.8499 7.8797 12.8499 7.25588 12.7339C6.62361 12.6031 6.0255 12.3422 5.49963 11.9676C4.65481 11.3696 4.02047 10.52 3.68713 9.54012C3.34815 8.54186 3.34815 7.45963 3.68713 6.46137C3.92441 5.76164 4.31667 5.12454 4.83463 4.59762C5.42737 3.98355 6.17779 3.54462 7.00357 3.32896C7.82935 3.11331 8.69858 3.12928 9.51588 3.37512C10.1543 3.57111 10.7382 3.91354 11.2209 4.37512C11.7067 3.89179 12.1917 3.4072 12.6759 2.92137C12.9259 2.66012 13.1984 2.41137 13.4446 2.14387C12.7078 1.45822 11.843 0.924691 10.8996 0.57387C9.18176 -0.049893 7.3021 -0.066656 5.57338 0.52637Z"
                    fill="white"
                  />
                  <path
                    d="M5.57445 0.526245C7.30303 -0.067184 9.18269 -0.0508623 10.9007 0.572495C11.8442 0.925699 12.7087 1.46179 13.4445 2.14999C13.1945 2.41749 12.9307 2.66749 12.6757 2.92749C12.1907 3.41166 11.7061 3.89416 11.222 4.37499C10.7393 3.91342 10.1554 3.57098 9.51695 3.37499C8.69992 3.1283 7.83073 3.1114 7.00473 3.32617C6.17873 3.54094 5.42784 3.97907 4.83445 4.59249C4.31649 5.11941 3.92424 5.75652 3.68695 6.45624L1.0957 4.44999C2.02321 2.6107 3.62914 1.20377 5.57445 0.526245Z"
                    fill="white"
                  />
                  <path
                    d="M0.40695 6.43745C0.546226 5.74719 0.777454 5.07873 1.09445 4.44995L3.6857 6.4612C3.34672 7.45946 3.34672 8.54169 3.6857 9.53995C2.82237 10.2066 1.95862 10.8766 1.09445 11.55C0.300888 9.97035 0.0588654 8.17058 0.40695 6.43745Z"
                    fill="white"
                  />
                  <path
                    d="M8.15876 6.5188H15.5988C15.8533 7.91496 15.7844 9.35088 15.3975 10.7163C15.0416 11.9719 14.3501 13.1067 13.3975 13.9988C12.5613 13.3463 11.7213 12.6988 10.885 12.0463C11.2996 11.7666 11.6535 11.4062 11.9254 10.9865C12.1973 10.5668 12.3817 10.0965 12.4675 9.6038H8.15876C8.15751 8.5763 8.15876 7.54755 8.15876 6.5188Z"
                    fill="white"
                  />
                  <path
                    d="M1.09375 11.55C1.95792 10.8834 2.82167 10.2134 3.685 9.54004C4.01901 10.5203 4.65426 11.3699 5.5 11.9675C6.02751 12.3404 6.62691 12.5992 7.26 12.7275C7.88382 12.8435 8.52368 12.8435 9.1475 12.7275C9.76949 12.6223 10.3626 12.3881 10.8888 12.04C11.725 12.6925 12.565 13.34 13.4012 13.9925C12.4861 14.8247 11.3705 15.4049 10.1637 15.6763C8.83176 15.9894 7.44365 15.9744 6.11875 15.6325C5.07088 15.3528 4.09209 14.8595 3.24375 14.1838C2.34583 13.4709 1.61244 12.5725 1.09375 11.55Z"
                    fill="white"
                  />
                </svg>
                <p class="login__sign-in-button__text">{t("logIn.google")}</p>
              </div>
            )
          }
        </SignIn>
      </div>
    </section>
  </main>
</Layout>
