---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { HeaderTypeEnum } from "@/constants/enums";
import ProductPage from "@/components/productPage.astro";
import { _defaultCards } from "@/constants/constants";
import BagDetails from "@/components/BagDetails.astro";
---

<Layout title="Paying Hall">
  <main class="main">
    <Header headerType={HeaderTypeEnum.USER} />
    <div class="content">
      <ProductPage counter productsData={_defaultCards} />
      <BagDetails firstValue={90.0} secondValue={70.0} />
    </div>
    <Footer />
  </main>
  <style>
    .main0 {
      gap: 1.56rem;
    }
    @media (min-width: 500px) and (max-width: 991px) {
      .content {
        display: flex;
        flex-direction: column;
        margin: 1.56rem 0;
      }
    }
    @media (min-width: 992px) {
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1.56rem;
      }
    }
  </style>
</Layout>
