---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import CustomCard, { CustomCardClass } from "../components/CustomCard.astro";
import Header from "../components/Header.astro";
import Image from "astro/components/Image.astro";
import { HeaderTypeEnum } from "@/constants/enums";

const _testCards: CustomCardClass[] = [
  {
    src: "/public/favicon.svg",
    title: "Madelyn Vaccaro",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur. At nunc massa sed eleifend. Facilisis dolor sem amet purus sagittis odio. Adipiscing tempus nibh enim est arcu diam. Pellentesque proin suspendisse egestas ut sed vitae vel. Lectus purus cum diam cursus id pellentesque diam ",
  },
  {
    src: "/public/favicon.svg",
    title: "Madelyn Vaccaro",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur. At nunc massa sed eleifend. Facilisis dolor sem amet purus sagittis odio. Adipiscing tempus nibh enim est arcu diam. Pellentesque proin suspendisse egestas ut sed vitae vel. Lectus purus cum diam cursus id pellentesque diam ",
  },
  {
    src: "/public/favicon.svg",
    title: "Madelyn Vaccaro",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur. At nunc massa sed eleifend. Facilisis dolor sem amet purus sagittis odio. Adipiscing tempus nibh enim est arcu diam. Pellentesque proin suspendisse egestas ut sed vitae vel. Lectus purus cum diam cursus id pellentesque diam ",
  },
];
---

<Layout title="productDetails">
  <main>
    <Header headerType={HeaderTypeEnum.USER_WITH_STORE} />
    <div id="product" class="row">
      <Image
        width={100}
        height={100}
        id="vertical-image"
        src="/public/stock-image-aiony-haust.svg"
        alt="large-product-container"
      />
      <div id="product-details-top" class="row">
        <section>
          <Image
            width={100}
            height={100}
            src="/public/stock-image-aiony-haust.svg"
            alt="small-product-container"
            id="horizontal-image"
          />

          <div id="product-details-container" class="row">
            <div id="product-details">
              <h2 id="product-name">Product Name</h2>
              <h3 id="product-cost">Product Cost</h3>
              <button id="button"> add to bag </button>
              <div id="product-information">
                <p id="product-information-vendor">Selled by Vendor anon</p>
                <p id="product-information-warning">Return up to 30 days</p>
              </div>
            </div>
            <p id="product-description">
              Lorem ipsum dolor sit amet consectetur. Donec est ultricies diam
              enim eget facilisi aliquet. Odio laoreet pretium turpis bibendum
              pulvinar. Eu ut ipsum nibh elementum neque sit non aliquet sit.
              Cras bibendum egestas malesuada sagittis. Orci eu dolor quam
              pellentesque elit ultricies ullamcorper. Pellentesque molestie
              quis non placerat amet. Fermentum diam consectetur ultricies est
              duis justo. Duis placerat nascetur interdum elit venenatis auctor
              felis fermentum. Viverra in ac mauris integer eu odio. Et aliquet
              laoreet gravida dictum velit orci vehicula nibh morbi. Porttitor
              turpis tristique tortor ut. Gravida.
            </p>
          </div>
        </section>
      </div>
    </div>
    <div id="product-opinions">
      <p id="title">Users' opinions</p>
      {_testCards.map((card: CustomCardClass) => <CustomCard {...card} />)}
    </div>
    <Footer />
  </main>
  <style>
    @media (max-width: 730px) {
      .row {
        display: flex;
        flex-direction: column;
      }
      #vertical-image {
        display: none;
      }
      #product-opinions {
        display: flex;
        padding: 0rem 1.25rem;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
      }
    }
    main {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #vertical-image {
      width: 28.1875rem;
      height: 49.3125rem;

      border-radius: var(--Corner-Full, 62.5rem)
        var(--Corner-Extra-small, 0.25rem);
      border: 20px solid var(--TEXT, #45362f);
      background:
        url(<path-to-image>) lightgray 50% / cover no-repeat,
        #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      object-fit: cover;
      object-position: top;
    }
    #horizontal-image {
      width: 47.25rem;
      height: 23.4375rem;

      border-radius: var(--Corner-Extra-small, 0.25rem)
        var(--Corner-Full, 62.5rem);
      border: 20px solid var(--TEXT, #45362f);
      background:
        url(<path-to-image>) lightgray 50% / cover no-repeat,
        #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      object-fit: cover;
      object-position: top;
    }
    #product-title {
      color: #000;

      /* HEADING_1 */
      font-size: 3rem;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 3.3rem */
    }
    #product-cost {
      color: var(--TEXT, #45362f);
      text-align: center;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    button {
      display: flex;
      height: 2.625rem;
      padding: 0.5625rem 7rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      align-self: stretch;

      border-radius: var(--Corner-Extra-small, 0.25rem);
      background: var(--TEXT, #45362f);

      color: var(--SECONDARY, #fede71);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    #product-information {
      display: flex;
      height: 7.25rem;
      padding-bottom: 0.75rem;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      align-self: stretch;

      border-radius: var(--Corner-Extra-small, 0.25rem);
      border: 2px dashed var(--PRIMARY, #f36337);
    }
    #product-information-vendor {
      display: flex;
      padding: 0.625rem;
      align-items: center;
      gap: 0.625rem;

      border-bottom: 3px dashed var(--PRIMARY, #f36337);
    }
    #title {
      color: var(--PRIMARY, #f36337);
      text-align: center;

      /* HEADING_3 */
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 2.2rem */
    }
    #product-description {
      width: 19rem;
      color: var(--TEXT, #45362f);

      /* BODY_BIG_REGULAR */
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    #product-opinions {
      display: flex;
      padding: 0rem 1.25rem;
      justify-content: space-between;
      align-items: flex-end;
      align-self: stretch;
    }
  </style>
</Layout>
