---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProductCard from "../components/ProductCard.astro";
import Footer from "../components/Footer.astro";
import Image from "astro/components/Image.astro";
import { HeaderTypeEnum } from "@/constants/enums";

const { shopName } = Astro.params;
---

<Layout title={shopName ?? "Shop"}>
  <main>
    <Header headerType={HeaderTypeEnum.USER} />
    <section id="shop-name-container">
      <h1 id="store-name">{shopName ?? "Store Name"}</h1>
    </section>
    <Image
      width={100}
      height={100}
      id="store-image"
      src="/public/stock-image-aiony-haust.svg"
      alt="store-imag"
      loading={"lazy"}
    />
    <div id="product-grid">
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
      <ProductCard
        src="/public/stock-image-katsiaryna-endruszkiewicz.svg"
        title="Test"
        subtitle="Test"
      />
    </div>
    <Footer />
  </main>
  <style>
    #shop-name-container {
      display: flex;
      padding: 1.4375rem 36.5625rem 1.5rem 39.5625rem;
      justify-content: flex-end;
      align-items: center;
      align-self: stretch;

      background: var(--TEXT, #45362f);
    }
    #store-name {
      color: var(--SECONDARY, #fede71);
      text-align: center;

      /* HEADING_1 */
      font-size: 3rem;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 3.3rem */
    }
    #store-image {
      height: 13.125rem;
      width: 100vw;

      object-fit: cover;
    }
    #product-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      padding: 0rem 1.875rem;
      gap: 2.9375rem;
    }
  </style>
</Layout>
