---
import { getSession } from "auth-astro/server";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";
import { SignOut } from "auth-astro/components";
import CreatePostForm from "@/components/CreatePostForm.astro";
import {
  ChatIcon,
  CreatePostIcon,
  HeaderIcon,
  LogOutIcon,
} from "./HeaderIcons";
import Dialog from "@/components/Dialog";

const session = await getSession(Astro.request);
const lang = getLangFromUrl(Astro.url);
const t = await useTranslations(lang);
const imageProps = {
  width: 30,
  height: 30,
  layout: "responsive" as "responsive",
  class: "profile-image",
};
const navAriaLabel: string = "Web navigation";
---

<script>
  import { DialogManager } from "@/constants/classes";

  new DialogManager();
</script>
<header class="header">
  <HeaderIcon />
  {
    !session ? (
      <nav aria-label={navAriaLabel}>
        <a href={"/logIn"} class="header__nav-link" aria-label="Login button">
          {t("nav.logIn")}
        </a>
      </nav>
    ) : (
      <nav class="session-nav" aria-label={navAriaLabel}>
        <a href="/feed" class="header__nav-link" aria-label="Chat button">
          <ChatIcon />
          <p class="header-text">{t("nav.chat")}</p>
        </a>
        <button
          type="button"
          aria-label="Create post button"
          class="create-post-button"
          id="open"
        >
          <CreatePostIcon />
          <p class="header-text">{t("nav.create")}</p>
        </button>
        <a href="/profile" class="header__nav-link" aria-label="Profile button">
          <Image
            {...imageProps}
            src={session?.user?.image ?? ""}
            alt={session?.user?.name ?? "User Image"}
            loading={"eager"}
          />
          <p class="header-text">{session.user?.name}</p>
        </a>
        <SignOut
          class="header__nav-link"
          id="log-out"
          aria-label="Log out button"
        >
          <LogOutIcon />
          <p class="header-text">{t("nav.logOut")}</p>
        </SignOut>
      </nav>
    )
  }

  <Dialog title="Create Post" id="form-dialog" closeBtnID="close" client:load>
    <CreatePostForm
      lang={lang}
      user_id={session?.user?.id ?? ""}
      username={session?.user?.name ?? ""}
    />
  </Dialog>
</header>
