@media (min-width: 500px) and (max-width: 991px) {
  .header {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    background: var(--PRIMARY, #f36337);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem;
  }
  .nav {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
  }
  .anchor {
    color: var(--PURE_WHITE, #f5faf9);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    text-decoration-line: none;
    text-align: center; /* HEADING_1 */
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: capitalize;
  }
}

@media (min-width: 992px) {
  .header {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    background: var(--PRIMARY, #f36337);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem;
  }
  .nav {
    display: flex;
    width: 50dvw;
    justify-content: space-between;
    gap: 1rem;
  }
  .anchor {
    color: var(--PURE_WHITE, #f5faf9);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    text-decoration-line: none;
    text-align: center; /* HEADING_1 */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: capitalize;
  }
}
