---
import { ClickActions } from "@/constants/enums";
import CustomButton from "./CustomButton";

interface Props {
  firstValue: number;
  secondValue: number;
}
const { firstValue, secondValue } = Astro.props;
---

<div id="container">
  <div class="row">
    <p id="subtotal">Subtotal</p><p id="subtotal">{firstValue}€</p>
  </div>
  <div class="row">
    <p id="total">Total</p><p id="total">{secondValue}€</p>
  </div>
  <p id="accepted-paying-mode">MÉTODO DE PAGO ACEPTADO</p>
  <CustomButton title="Pay" clickAction={ClickActions.NONE} client:load />
</div>
<style>
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  #subtotal {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 2.2rem */
  }
  #total {
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 3.3rem */
  }
  #accepted-paying-mode {
    text-align: center;
  }
  @media (min-width: 500px) and (max-width: 991px) {
    #container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    #container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20%;
    }
  }
</style>
