---
import { HeaderTypeEnum, WebRoutesEnum } from "@/constants/enums";
import Image from "astro/components/Image.astro";
import HeaderNav from "./HeaderNav";
import { defaultBttns, userBttns, vendorBttns } from "@/constants/constants";

export interface ICustomButton {
  title: string;
  href: WebRoutesEnum;
  icon?: HTMLElement;
}
interface Props {
  headerType: HeaderTypeEnum;
}
const { headerType } = Astro.props;

function SwitchHeaderButtons() {
  switch (headerType) {
    case HeaderTypeEnum.PASSENGER:
      return defaultBttns;
    case HeaderTypeEnum.PASSENGER:
      return vendorBttns;
    default:
      return userBttns;
  }
}
const buttonsArray: ICustomButton[] = SwitchHeaderButtons();
---

<header id="header">
  <a href="/">
    <Image
      width={264.5}
      height={54}
      src="/header-icon.svg"
      alt="header-logo"
      id="header-logo"
      loading={"eager"}
    />
  </a>
  <HeaderNav client:only buttons={buttonsArray} />
</header>
<style>
  #header {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    background: var(--PRIMARY, #f36337);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2.03838rem 1.92975rem 1.99475rem 1.91644rem;
  }
</style>
