---
export enum WebRoutesEnum {
  LOG_IN = "/logIn",
}
export enum HeaderTypeEnum {
  USER = "user", //is logged in
  USER_WITH_STORE = "vendor", //is logged and have a store
  PASSENGER = "passenger",
}
export interface ICustomButton {
  title: string;
  href: WebRoutesEnum;
  icon?: HTMLElement;
}
interface Props {
  headerType: HeaderTypeEnum;
}
const { headerType } = Astro.props;

function SwitchHeaderButtons() {
  switch (headerType) {
    case HeaderTypeEnum.PASSENGER:
      const _default: ICustomButton[] = [
        {
          title: "Test Prototype",
          href: WebRoutesEnum.LOG_IN,
        },
        {
          title: "Log In",
          href: WebRoutesEnum.LOG_IN,
        },
        {
          title: "Sig In",
          href: WebRoutesEnum.LOG_IN,
        },
      ];
      return _default;
    case HeaderTypeEnum.PASSENGER:
      const _vendor: ICustomButton[] = [
        {
          title: "global chat",
          href: WebRoutesEnum.LOG_IN,
        },
        {
          title: "bag",
          href: WebRoutesEnum.LOG_IN,
        },
        {
          title: "bag",
          href: WebRoutesEnum.LOG_IN,
        },
        {
          title: "log out",
          href: WebRoutesEnum.LOG_IN,
        },
      ];
      return _vendor;
    default:
      const _user: ICustomButton[] = [
        {
          title: "global chat",
          href: WebRoutesEnum.LOG_IN,
        },
        {
          title: "bag",
          href: WebRoutesEnum.LOG_IN,
        },
        {
          title: "Log out",
          href: WebRoutesEnum.LOG_IN,
        },
      ];
      return _user;
  }
}
const _buttonArray: ICustomButton[] = SwitchHeaderButtons();
---

<div id="header">
  <img src="public/header-icon.svg" alt="header-logo" />
  <div id="header_button_group">
    {
      _buttonArray.map(({ href, title }: ICustomButton) => (
        <a href={href} id="header_button">
          {title}
        </a>
      ))
    }
  </div>
</div>
<style>
  #header {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    background: var(--PRIMARY, #f36337);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2.03838rem 1.92975rem 1.99475rem 1.91644rem;
  }
  #header_button_group {
    display: flex;
    align-items: center;
    gap: 2.9375rem;
  }
  #header_button {
    color: var(--PURE_WHITE, #f5faf9);
    text-align: center;
    /* HEADING_1 */
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 3.3rem */
  }
</style>
