---
import type { CParagraph } from "@/constants/classes";

interface Props {
  content: CParagraph[];
}

const { content } = Astro.props;
---

<div class="landing-info">
  {
    content.map((paragraph: CParagraph) => {
      const { title, description, subtitle } = paragraph;
      return (
        <div class="container">
          <p class={"main-title"}>{title}</p>
          <p class="subtitle">{subtitle}</p>
          <p class={"body"}>{description}</p>
        </div>
      );
    })
  }
</div>
<style>
  .container {
    display: flex;
    width: 19rem;
    flex-direction: column;
    text-align: center;
  }

  @media (min-width: 500px) and (max-width: 991px) {
    .landing-info {
      flex-direction: column;
      align-self: center;
    }
  }
  @media (min-width: 992px) {
    .landing-info {
      display: flex;
      padding: 0rem 3.125rem;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
    }
  }
</style>
