---
import type { CProduct } from "@/constants/classes";
import ProductCard from "./ProductCard.astro";

interface Props {
  productsData: CProduct[];
  counter?: boolean;
}
const { productsData, counter } = Astro.props;
---

<div id="container">
  {
    productsData.map(({ src, title, subtitle }: CProduct) => (
      <ProductCard
        src={src}
        title={title}
        subtitle={subtitle}
        counter={counter}
      />
    ))
  }
</div>
<style>
  @media (min-width: 500px) and (max-width: 991px) {
    #container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  @media (min-width: 991px) {
    #container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      width: 100%;
      column-gap: 1rem;
    }
  }
</style>
