---
import TextButton, { TextButtonProps } from "@/components/TextButton.astro";

interface Props {
  basic: TextButtonProps[];
}
const { basic } = Astro.props;
---

<aside id="basic-font-styles" class="textarea-container">
  <div class="post-editor__header">
    {
      basic.map((button) => {
        return (
          <TextButton
            value={button.value}
            disabled={button.disabled}
            type={button.type}
          />
        );
      })
    }
  </div>
</aside>
