.text {
  color: var(--orange, #f36337);
  text-align: center;

  /* HEADING_3 */
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 2.2rem */
}
.postSavedWrapper {
  display: flex;
  justify-content: space-between;
  padding: 10dvh 5dvw;
}
.detailsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10dvh 5dvw 0 5dvw;
}
