<footer>
  <p class="body">
    This website is a prototype created as an extension of the main design
    project. Please note that the platform is currently in testing and is
    subject to changes. All interactions and chat messages are temporary and
    will be deleted within 24 hours to maintain data privacy and security during
    this testing phase. We encourage you to explore the features and provide any
    feedback you may have, but remember that no data is retained beyond this
    timeframe. Thank you for your understanding and cooperation as we work to
    refine and enhance the final product experience.
  </p>
  <ul>
    <li><a href="/project">Go to see project</a></li>
    <li>
      <a
        href="https://www.linkedin.com/in/sheila-álamo/"
        rel="noopener noreferrer"
        target="_blank">Contact me</a
      >
    </li>
  </ul>
</footer>

<style>
  :root {
    --secondary-color: #fede71;
    --orange-color: #f36337;
    --text-color: #45362f;
  }

  footer {
    background: var(--text-color);
    padding: 2rem 5rem;
  }

  p {
    color: var(--white);
  }

  ul {
    display: flex;
    flex-direction: column;
    color: var(--primary);
  }

  a {
    color: var(--primary);
    text-decoration: none;
  }

  @media (min-width: 500px) and (max-width: 991px) {
    footer {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  @media (min-width: 992px) {
    footer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 25.1875rem;
      padding: 3.53125rem 5.3125rem 3.78125rem 6.5rem;
    }
  }
</style>
