---
import Layout from "../layouts/Layout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <main id="main">
    <div id="orange-upper-section">
      <div class="logo"></div>
      <p id="big-text" class="display-none">
        Preparate para sumergirte en nuestra web y encontrar los productos con
        las mejores reviews solo de clientes 100% reales.
      </p>
      <ul id="small-text" class="display-none">
        <li>Share all your visions in the global chat.</li>
        <li>Search products with honest reviews.</li>
        <li>Build your fashion online store.</li>
      </ul>
    </div>
    <form class="lower-section" id="form">
      <slot class="slot" />
    </form>
  </main>
</Layout>
<style>
  @media (min-width: 500px) and (max-width: 991px) {
    #main {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      padding: 5.625rem 1.0625rem;
    }
    .lower-section {
      width: 100%;
    }
    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 3.1rem;
    }
    .display-none {
      display: none;
    }
    .logo {
      width: 11.7rem;
      height: 3.18rem;
      background: url("/public/small-logo.svg");
    }
  }

  @media (min-width: 992px) {
    .logo {
      height: 19.5rem;
      width: 13rem;
      background: url("/public/big-logo.svg");
    }
    #main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: var(--BACKGROUND, #f5faf9);
    }
    .lower-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3.1rem;
    }
    #orange-upper-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 11rem 6.875rem 11rem 7rem;
      background: var(--PRIMARY, #f36337);
    }
    #big-text {
      color: var(--BACKGROUND, #f5faf9);
      text-align: center;

      /* HEADING_3 */
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 2.2rem */
    }
    #small-text {
      color: var(--BACKGROUND, #f5faf9);

      /* BODY_EXTRA_BIG_BOLD */
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    #form {
      display: flex;
      flex-direction: column;
      padding: 0rem 8rem;
    }
  }
</style>
